.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px 20px;
    overflow: hidden;
}

.container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    min-height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

.label {
    text-align: start;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0 5px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #7E60BF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
}

.button:hover {
    background: #543C91;
}

.button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.tokenContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tokenInput {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.tokenInput:focus {
    border-color: #007bff;
    outline: none;
}


.errorData {
    background: #ffebee;
    color: #d32f2f;
    padding: 10px 15px;
    border-left: 5px solid #d32f2f;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    max-width: 1100px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.successData {
    background: #e8f5e9;
    color: #2e7d32;
    padding: 10px 15px;
    border-left: 5px solid #2e7d32;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    max-width: 1100px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1124px) {
    .section {
        padding: 15px;
        overflow: hidden;
    }

    .container {
        width: 100%;
    }

    .container h2 {
        text-align: center;
        font-weight: 900;
        font-size: 25px;
    }
}

@media screen and (max-width: 620px){
    .container{
        padding: 40px 40px;
    }


    .tokenInput {
        width: 35px;
        height: 45px;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 485px){
    .container{
        padding: 20px 30px;
    }

    .container h2{
        text-align: center;
        font-weight: 900;
        font-size: 22px;
    }
    
}

@media screen and (max-width: 410px){
    .container{
        padding: 20px 30px;
    }

    .container h2{
        font-weight: 900;
        font-size: 18px;
    }

    .label {
        font-size: 0.8rem;
    }
    
    .input {
        padding: 8px;
        font-size: 0.8rem;
    }
    
    .button {
        font-size: 0.8rem;
    }

    .tokenInput {
        width: 25px;
        height: 35px;
        font-size: 17px;
    }
}

@media screen and (max-width: 350px){
    .container{
        padding: 20px;
    }

    .container h2{
        font-weight: 900;
        font-size: 16px;
    }

    .label {
        font-size: 0.7rem;
    }
    
    .input {
        padding: 7px;
        font-size: 0.7rem;
    }
    
    .button {
        font-size: 0.7rem;
    }
}