.section {
    background-color: #7E60BF;
    text-align: center;
    padding: 0 100px;
    overflow: hidden;
    min-height: 600px;
}

.title {
    font-size: 2.3rem;
    color: white;
    padding: 50px 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    padding: 50px 150px;
    height: 600px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    height: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.image {
    width: 100%;
    height: 90%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #433878;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent {
    height: 95%;
    width: 95%;
    text-decoration: none;
}

.info h2 {
    margin: 0;
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}


.swiper {
    width: 100%;
    padding: 80px 0;
    position: relative;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: white !important;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

:global(.swiper-button-next) {
    right: 50px !important;
    top: 55px !important;
}

:global(.swiper-button-prev) {
    left: 50px !important;
    top: 55px !important;
}

.loader {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin: 80px auto;

}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .section {
        background-color: #7E60BF;
        text-align: center;
        padding: 0 80px;
        overflow: hidden;
        min-height: 600px;
    }
}

@media screen and (max-width: 566px) {
    .section {
        padding: 0 40px;
    }

}

@media screen and (max-width: 486px) {
    .section {
        padding: 0 40px;
    }

    .title {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 400px) {

    .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {

    :global(.swiper-button-next) {
        right: 10px !important;
        top: 55px !important;
    }
    
    :global(.swiper-button-prev) {
        left: 10px !important;
        top: 55px !important;
    }
}

@media screen and (max-width: 250px){
    .section {
        padding: 0 20px;
    }
}