.navbar {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    background-color: #7E60BF;
    overflow: hidden;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .links a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.1s ease;
    font-weight: bold;
    background: #433878;
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar .links a:hover {
    color: #19e8ff;
}

.navbar .links .active {
    color: #00e1ff;
}
