.header{
    padding: 60px 20px;
}

.navbar{
    background-color: white;
    overflow: hidden;
    border-radius: 20px;  
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.links{
    list-style: none;
}

.links .li a{ 
    display: block;
    color: #433878 ;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar .links .active {
    color: white;
    background: #433878;
}

@media screen and (max-width: 1124px){
    .header{
        padding: 0;
        padding-top: 20px ;
    }

    .navbar{ 
        min-width: 100%;

    }
    

}

@media screen and (max-width: 350px){
    .links .li a{ 
        display: block;
        color: #433878 ;
        font-size: 0.7rem;
        font-weight: bold;
        padding: 10px 15px;
        text-decoration: none;
    }
    
}